.sectionTitle
{
    text-align: left;
    margin-bottom: 0;
}

.aboutMe
{
    padding-left: 15px;
    text-align: left;
}

.list
{
    padding: 10px;
    padding-bottom: 0;
}

.liDesc
{
    padding-left: 15px;
}

.langDiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
