@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

html, body
{
    margin: 0;
    height: 100%;

    background-color: #0C0C0C;
    font-family: "Roboto", sans-serif;

    scrollbar-width: thin;
    scrollbar-color: #2F3034 #0C0C0C;
}
