.IconButton
{
    margin: 5px;
    background-color: transparent;        
    border: 0px;
    border-radius: 50%;
    border: 1px solid #2F3034;
    width: 96px;
    height: 96px;
}

.IconButton:hover
{
    background-color: #2F3034;    
}